.App {
  max-width: 1000px;
  margin: auto;
}

#error {
  font-size: 50px;
  font-weight: 600;
}

#top-bar {
  padding-top: 10px;
  max-width: 920px;
  display: flex;
  margin: auto;
}

#logo {
  display: flex;
  cursor: pointer;
}

#spliffy-logo {
  height: 40px;
  width: 47px;
}

#spliffy-text {
  padding-top: 1px;
  font-weight: 900;
  font-size: 30px;
  user-select: none;
}

#search-bar {
  width: 760px;
}

#search-input {
  padding-left: 15px;
  padding-top: 4px;
}

form input {
  box-sizing: border-box;
  height: 30px;
}

form > div {
  position: relative;
}

form input[type="text"] {
  display: block;
  width: 100%;
}

#search-button {
  position: relative;
  top: 4px;
  height: 30px;
  background-color: white;
}

#search-button:hover {
  cursor: pointer;
}

#middle-bar {
  padding-bottom: 10px;
  display: flex;
  max-width: 920px;
  margin: auto;
  justify-content: space-between;
}

#view {
  color: rgb(95, 95, 95);
  font-weight: 600;
  font-size: 20px;
  padding-top: 8px;
}

#favorites-button {
  padding-left: 5px;
  position: relative;
  top: 4px;
  height: 30px;
  text-align: left;
  display: flex;
}

#favorites-button:hover {
  cursor: pointer;
}

#favorites-text {
  position: relative;
  top: 5px;
  font-size: 13px;
}

#favorites-heart {
  position: relative;
  bottom: 6px;
  left: 3px;
  display: inline;
  color: red;
  font-size: 30px;
}

#gifs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
}

.gif {
  margin: 10px;
  background-color: rgb(51, 51, 51);
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.gif-img {
  width: 200px;
  height: 200px;
}

.hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.favorite {
  position: relative;
  z-index: 5;
  font-size: 30px;
  bottom: 40px;
  left: 170px;
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.favorite:hover {
  cursor: pointer;
  color: red;
}

.favorited {
  color: red;
}

.show {
  display: block;
}

.gif-title {
  color: black;
  padding: 5px;
  margin-right: 20px;
}

.gif-url {
  color: black;
  display: flex;
  justify-content: space-between;
}

.favorite-modal {
  position: relative;
  bottom: 10px;
  font-size: 30px;
}

.favorite-modal:hover {
  cursor: pointer;
  color: red;
}

